.app-panel, #wrapper-app{
	display: none;
}
#wrapper-loader{
	padding-top: 150px;
}

.box{
	background: teal;
}

.stats{
	padding: 15px 0px;
	border: 1px solid rgba(215, 215, 215, 1);
	background-color: rgba(230, 230, 230, 1);
}
.stats .icon{
	font-size: 60px;
}
.stats .title{
	margin-top: -15px;
	text-align: center;
	font-size: 25px;
}
.stats .value{
	margin-top: -15px;
	font-size: 45px;
	font-weight: 700;
}
